img {
  width: auto;
  height: 100px;
}

#stats{
  display: flex;
  justify-content: space-around;
}

#town{
  display: flex;
  justify-content: space-around;
}

#dungeon{
  display: flex;
  justify-content: space-around;
  visibility: hidden;
}

#loot{
  visibility: hidden;
}