html{
  text-align: center;
  background-image: url(imgs/backgroundTown.jpg);
  background-size: cover;
  z-index: 0;
}

body{
  background-color: rgba(100%, 100%, 100%, 30%);
  z-index: 1;
}

img {
  width: auto;
  height: 100px;
}

#stats{
  display: flex;
  justify-content: space-around;
  background-color: rgba(100%, 100%, 100%, 70%);
}

#town{
  display: flex;
  justify-content: space-around;
}

#dungeon{
  display: flex;
  justify-content: space-around;
  visibility: hidden;
}

#loot{
  visibility: hidden;
}

#monster-health-bar{
background-color: red;
height :15px;
width : 100%;

}
#cultist {
  height:200;
}